<ul class="list list-banners">
{% for banner in include.elements %}
{% capture copy %}<a href="{{ site.url }}"><img src="https://stats.52k.de/piwik.php?idsite=9&rec=1&action_name=SREBanner" style="border:0" alt="" /><img src="{{ banner.url | prepend: site.url }}" style="border:0" alt="Support Refugees Emancipation" /></a>{% endcapture %}
  <li>
    <a href="{{ banner.url }}">
      <h3>{{ banner.title[page.language] }}</h3>
      <img src="{{ banner.url }}"/>
    </a>
    <input type="text" class="banner-snippet" value="{{ copy | xml_escape }}"/>
  </li>
{% endfor %}
</ul>
