<div class="row t30">
  <div class="medium-12 columns" id="betterplace">
    <div class="campaign_box">
    <h2>{{ site.data.language.donation_status[page.language] }}</h2>
    <p>{{ site.data.language.donors[page.language] }}: <span class="label" id="donor-count"></span></p>
    <p>{{ site.data.language.donation_percentage[page.language] }}: <span class="label" id="percentage"></span></p>
    <div class="progress large-12 small-centered success radius" style="width: 80%">
      <span class="meter" id="betterplace-meter" style="width: 5%"></span>
    </div>
    <p><a href="https://www.betterplace.org/{{page.language}}/projects/20601-empowerment-fur-fluchtlinge-durch-computerkurse/">{{ site.data.language.donation_page[page.language]}}</a></p>
    </div>
  </div>
</div>
<script type='text/javascript'>
$(document).ready(function(){
  $.getJSON('https://api.betterplace.org/de/api_v4/projects/20601.json', function(data) {
    $('#donor-count').text(data.donor_count);
    $('#percentage').text(data.progress_percentage + "%");
    $('#betterplace-meter').attr('style', 'width: '+ data.progress_percentage + '%');
  });
});
</script>
