<div class="row t30">
  <div class="small-12 columns">
    <div class="campaign_box donations medium-12" id="betterplace">
      <h2>Status der Spendenkampagne</h2>
      <div class="flex-split">
        <div class="progress large-12 small-centered success flex-split-left">
          <span class="meter" id="betterplace-meter" style="width: 0%"></span>
        </div>
        <div class="donation-button flex-split-right">
          <a role="button" aria-label="submit form" class="button radius" alt="Zum Formular" href="/de/donate">Jetzt Spenden</a>
        </div>
      </div>
      <div class="flex-split">
        <div class="large-12 small-centered flex-split-left">
          <p>Bereits <span class="label"><span id="donor-count"></span> Spender</span> aber <span class="label" id="open-amount"></span> fehlen noch!</p>
        </div>
        <div class="donation-button flex-split-right">
          <a role="button" aria-label="submit form" class="button warning radius" alt="Zur Spendenseite auf betterplace.org" href="https://www.betterplace.org/de/projects/20601-internetcafes-computerkurse-fur-gefluchtete" target="_blank">Zur Projektseite</a>
          <p class="donation-button-sublabel">auf betterplace.org</p>
        </div>
      </div>
    </div>
  </div>
</div>
