{% assign primary_url=include.item.urls.first[1] %}
<figure>
  <a class="media-link-external" href="{{ primary_url }}" target="_blank">
    <img src="{{ site.url }}{{ site.baseurl }}/assets/img/thumbs/{{ include.item.thumb }}" title="{{ include.item.display-title | i18n }} ({{ site.data.language.new_window | i18n }})"/>
  </a>
  <figcaption>
    <div class="right">
    {% for kv in include.item.urls %}
    {% if kv[0] == "export" %}
      <a class="media-link-external icon-export" href="{{ kv[1] }}" title="{{ site.data.language.new_window | i18n }}" target="_blank"></a>
    {% else %}
      <a class="media-link-external icon-{{ kv[0] }}" href="{{ kv[1] }}"><img class="svg" src="{{ site.url }}{{ site.baseurl }}/assets/img/Speaker_Icon.svg" title="{{ kv[0] }}}"/></a>
    {% endif %}
    {% endfor %}
    </div>
    {% include media-metadata.html title=include.item.display-title event=include.item.event author=include.item.author date=include.item.date %}
  </figcaption>
</figure>
