<div id="navigation" class="sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1 class="show-for-small-only"><a href="{{ site.url }}{{ site.baseurl }}" class="icon-home"></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Navigation</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        {% if page.is_default_language %}
          <li><a href="{{ site.url }}{{ site.baseurl }}/en{{ page.url_no_language }}">English</a></li>
        {% else %}
          <li><a href="{{ site.url }}{{ site.baseurl }}/de{{ page.url_no_language }}">Deutsch</a></li>
        {% endif %}
          <li class="divider"></li>

        {% assign items = site.data.navigation | where: "side", "right" %}
        {% include nav-links.html links=items %}
      </ul>

      <ul class="left">
        {% assign items = site.data.navigation | where: "side", "left" %}
        {% include nav-links.html links=items %}
      </ul>
    </section>
  </nav>
</div><!-- /#navigation -->
