<div id="presstable">
  <ul id="press">
    {% assign items = site.data.press | sort: 'date' | reverse %}
    {% if page.is_default_language %}
    {% comment %}
       logic for /de/press
    {% endcomment %}
      {% for i in items %}
      <li class="publication">
        {% if i.title.de %}
        <p>
	  <date class="date">{{ i.date }}</date><br>
          <a href="{{ i.link.de }}" class="pub-link" target="_blank">{{ i.title.de }}</a>
          {% if i.title.en %}(<a href="{{ i.link.en }}" class="pub-link" target="_blank">{{ i.title.en }}</a>){% endif %} {%if i.author %}{{ i.author }}, {% endif %}{{ i.source }}
        </p>
        {% else %}
        <p>
	  <date class="date">{{ i.date }}</date><br>
          <a href="{{ i.link.en }}" class="pub-link" target="_blank">{{ i.title.en }}</a> (nur Englisch){%if i.author %} {{ i.author }}, {% endif %} {{ i.source }}
        </p>
        {% endif %}
      </li>
      {% endfor %}
    {% else %}
    {% comment %}
       logic for /en/press
    {% endcomment %}
      {% for i in items %}
      <li class="publication">
        {% if cells.title.en %}
        <p>
	  <date class="date">{{ i.date }}</date><br>
          <a href="{{ i.link.en }}" class="pub-link" target="_blank">{{ i.title.en }}</a>
          {% if i.title.de %}(<a href="{{ i.link.de }}" class="pub-link" target="_blank">{{ i.title.de }}</a>){% endif %} {%if i.author %}{{ i.author }}, {% endif %}{{ i.source }}
        </p>
        {% else %}
        <p>
	  <date class="date">{{ i.date }}</date><br>
          <a href="{{ i.link.de }}" class="pub-link" target="_blank">{{ i.title.de }}</a> (German only){%if i.author %} {{ i.author }},{% endif %} {{ i.source }}
        </p>
        {% endif %}
      </li>
      {% endfor %}
    {% endif %}
  </ul>
</div>
<script type="text/javascript">
  moment.locale("{{ page.language }}");
  $('.date').map(function() {
    var timestamp = Date.parse(this.innerHTML);
    if (isNaN(timestamp) == false) {
      this.innerHTML =  moment(new Date(this.innerHTML)).format('LL');
    }
  });
</script>
