<div id="social-bar" class="row">
  <div class="small-12 columns">
    <nav class="top-bar socialmedia" role="navigation" aria-label="Social Media Links">
      <section class="social-media-section">
        <ul class="right inline-list social-icons">
        {% for social_item in site.data.socialmedia-top %}
          <li><a class="{{ social_item.class }}" href="{{ social_item.url }}" target="_blank" title="{{ social_item.title[page.language] }}"></a></li>
        {% endfor %}
        </ul>
      </section>
    </nav>
  </div>
</div>
