<section class="twitter">
  <div id="twitter" class="row t30">
    <div class="medium-12 columns">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%40REmancipation" data-widget-id="662162648503623680"  data-chrome="nofooter noborders transparent" width="520">Tweets about @REmancipation</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  </div>
</section>
