
/* Custom Stylings and Overrides
------------------------------------------------------------------- */
/* Alerts */
.alert-box {
  text-shadow: none !important;
}
.alert-box a {
  text-shadow: none !important;
}

.alert-box a:hover {
  border-bottom: 1px solid #fff;
}

// Container of scroll to top arrow
#up-to-top {
  padding: 10px 0 10px 0 !important;
}

// Language toggle button
.button.tiny {
  font-weight: 700;
}

// MailChimp Form
#mc_embed_signup {
  background-color: #fdfdfd !important;
  form {
    padding: 0 !important;
  }
  h2 {
    font-size: 1.953em !important;
    margin-bottom: 0 !important;
  }
  .mc-field-group {
    padding-bottom: 0 !important;
    label {
      display: none !important;
    }
    input {
      text-indent: 1% !important;
      font-family: Lato;
    }
  }

  .button {
    background-color: #3FA9F5 !important;
    &:hover {
      background-color: #0c8dea !important;
    }
  }
}

// Display boxes for counter and fundraising results
.campaign_box {
  padding: 4% 6%;
  background-color: #313131;
  color: orange;

  h2, h3 {
    color: white;
    font-size: 2em;
    font-family: Lato;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    margin-bottom: 0 !important;
  }

  a {
    font-weight: normal;
  }
}

.countdown {
  text-align: center;

  p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
}

.donations {
  text-align: left;

  p {
    font-size: 25px;
    font-weight: normal;
    text-align: left;
  }
}

@media #{$small-only} {
  .campaign_box {
    h2, #countdown {
      font-size: 25px;
    }
    p, a {
      font-size: 18px;
    }
    #countdown {
      font-weight: normal;
      line-height: 30px;
    }
  }
}


// Customized Progress Bar
$progress-bar-color:          $grey-3;
$progress-bar-margin-bottom:  2rem;
$progress-bar-margin-top:     2rem;

.progress {
  border: none !important;
  padding: 0 !important;
  background-color: $progress-bar-color;
  margin-top:       $progress-bar-margin-top;
  margin-bottom:    $progress-bar-margin-bottom ;
}

.progress.success .meter {
  color: #313131;
  font-weight: bold;
}

// Video
.video-wrapper video {
  width: 970px;
}

.jw-tab-focus:focus {
  outline: none !important;
}

.video-title {
    margin-bottom: 0.3em;
}

// Footer
.footer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// Subfooter
#subfooter {
  padding: 20px 0 !important;

  .inline-list {
    margin: 0 auto 0 -1.375rem !important;
  }

  #subfooter-right {
    margin-top: 1.0625rem !important;
  }

  @media only screen and (min-width: 40.063em) {
    #subfooter-right {
      margin-top: 0 !important;
    }
  }
}

//Mail footer
.footer p a {
  color: #fff;
}
