/* Custom Stylings and Overrides
------------------------------------------------------------------- */
// Layout
.t0 {
  margin-top: 0;
}

/* Alerts */
.alert-box {
  text-shadow: none !important;
}
.alert-box a {
  text-shadow: none !important;
}

.alert-box a:hover {
  border-bottom: 1px solid #fff;
}

// Container of scroll to top arrow
#up-to-top {
  padding: 10px 0 10px 0 !important;
}

// Language toggle button
.button.tiny {
  font-weight: 700;
}

// MailChimp Form
#mc_embed_signup {
  .mc-embed-inner {
    padding-top: 1.5em;
  }
  form {
    padding: 0 !important;
  }
  h2 {
    font-size: 1.953em !important;
    margin-bottom: 0 !important;
  }
  .mc-field-group {
    padding-bottom: 0 !important;
    label {
      display: none !important;
    }
    input {
      text-indent: 1% !important;
      font-family: Lato;
    }
  }

  .button {
    background-color: #3FA9F5 !important;
    &:hover {
      background-color: #0c8dea !important;
    }
  }
}

// Video
.video-wrapper video {
  width: 970px;
}

.jw-tab-focus:focus {
  outline: none !important;
}

.video-title {
    margin-bottom: 0.3em;
}

// Sections in different background colors
section {
  &.newsletter,
  &#mc_embed_signup,
  .mc-embed-inner {
    background-color: $grey-2;
  }
}

// Panel displays
.panel {
  border-width: 3px !important;
  border-color: #3FA9F5 !important;
  background: #fff !important;
}

// FAQ
.faq-question {
  h2, .up-to-top-inner {
    margin-top: 0;
    padding-top: 50px;
  }
  .up-to-top-inner a {
    border-bottom: 0;
  }
}

// media page
a.media-link, a.media-link:hover, a.media-ccc-link, a.media-ccc-link:hover {
  border-bottom: 0;
}

a.media-ccc-link {
  img, svg {
    width: 18px;
    height: 13px;
  }
  svg path {
    fill: $grey-10;
  }
  svg:hover path {
    fill: $ci-1;
  }
}

.media-links {
  h3 {
    margin: 0; // overridden by typography definitions?
  }
}
