
/* Custom Stylings and Overrides
------------------------------------------------------------------- */
/* Alerts */
.alert-box {
  text-shadow: none !important;
}
.alert-box a {
  text-shadow: none !important;
}

.alert-box a:hover {
  border-bottom: 1px solid #fff;
}

// Container of scroll to top arrow
#up-to-top {
  padding: 10px 0 10px 0 !important;
}

// Language toggle button
.button.tiny {
  font-weight: 700;
}

// MailChimp Form
#mc_embed_signup {
  .mc-embed-inner {
    padding-top: 1.5em;
  }
  form {
    padding: 0 !important;
  }
  h2 {
    font-size: 1.953em !important;
    margin-bottom: 0 !important;
  }
  .mc-field-group {
    padding-bottom: 0 !important;
    label {
      display: none !important;
    }
    input {
      text-indent: 1% !important;
      font-family: Lato;
    }
  }

  .button {
    background-color: #3FA9F5 !important;
    &:hover {
      background-color: #0c8dea !important;
    }
  }
}

// Display boxes for counter and fundraising results
.campaign_box {
  padding: 4% 6%;
  background-color: #313131;
  color: orange;

  h2, h3 {
    color: white;
    font-size: 2em;
    font-family: Lato;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    margin-bottom: 0 !important;
  }

  a {
    font-weight: normal;
  }
}

.countdown {
  text-align: center;

  p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
}

.donations {
  text-align: left;

  p {
    font-size: 25px;
    font-weight: normal;
    text-align: left;
  }
}

@media #{$small-only} {
  .campaign_box {
    h2, #countdown {
      font-size: 25px;
    }
    p, a {
      font-size: 18px;
    }
    #countdown {
      font-weight: normal;
      line-height: 30px;
    }
  }
}


// Customized Progress Bar
$progress-bar-color:          $grey-3;
$progress-bar-margin-bottom:  2rem;
$progress-bar-margin-top:     2rem;

.progress {
  border: none !important;
  padding: 0 !important;
  background-color: $progress-bar-color;
  margin-top:       $progress-bar-margin-top;
  margin-bottom:    $progress-bar-margin-bottom ;
}

.progress.success .meter {
  color: #313131;
  font-weight: bold;
}

// Video
.video-wrapper video {
  width: 970px;
}

.jw-tab-focus:focus {
  outline: none !important;
}

.video-title {
    margin-bottom: 0.3em;
}

// Footer
.footer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  &.sponsors {
    background-color: #D7D7D7;
    h4 , h5 {
      color: #000 !important;
    }
  }
}

.sponsors {
  h2 {
    margin: 0.6em 0 !important;
  }
  h6 {
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
  }
}

$sponsors-image-size: 200px;
.sponsors_img {
  max-width: $sponsors-image-size;
  width: 100%;
  min-height: $sponsors-image-size / 2;
  margin-top: 1em;
  margin-bottom: 1em;
  @media only screen and (max-width: 40.063em) {
    max-width: $sponsors-image-size + 20px;
    min-height: 100%;
    margin-bottom: 2em;
  }
}

.sponsors_logo {
  padding-left: 0 !important;
  margin-bottom: 2em;
  height: $sponsors-image-size;
  max-height: $sponsors-image-size;

  &.medium-4.columns:last-of-type {
    float: left;
    margin-bottom: 1em;
  }

  @media only screen and (max-width: 40.063em) {
    margin-bottom: 1em;
    height: 100%;
    max-height: 100%;
    &:last-of-type {
      border-bottom: none;
      float: none;
      display: block;
    }
  }
}

// Subfooter
#subfooter {
  padding: 20px 0 !important;

  .inline-list {
    margin: 0 auto 0 -1.375rem !important;
  }

  #subfooter-right {
    margin-top: 1.0625rem !important;
  }

  @media only screen and (min-width: 40.063em) {
    #subfooter-right {
      margin-top: 0 !important;
    }
  }
}

//Mail footer
.footer p a {
  color: #fff;
}

// Sections in different background colors
section {
  &.newsletter,
  &#mc_embed_signup,
  .mc-embed-inner,
  &.up-to-top-arrow,
  &.up-to-top-inner {
    background-color: $grey-2;
  }
}
