/* Download Page
------------------------------------------------------------------- */

// List of downloads
.list {
  dd {
    margin-left: 0;
    a {

    }
  }
}

$include-html-accordion-classes: $include-html-classes !default;
$accordion-navigation-bg-color: lighten($primary-color, 50%);
$accordion-navigation-hover-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -5%) !default;
$accordion-navigation-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -3%) !default;
$accordion-navigation-font-size: rem-calc(16) !default;
$accordion-navigation-font-family: $body-font-family !default;
$accordion-content-padding: ($column-gutter/2) !default;
$accordion-content-active-bg-color: $primary-color !default;

dl.accordion { border: none !important;  }
.accordion dd { border: none !important; }
dd.accordion-navigation span { padding-right: 12px !important;}
dd.accordion-navigation span:before { content: "\F107" }
dd.accordion-navigation.active span:before { content: "\F105" }
dd.accordion-navigation.active span:before { content: "\F105" }


.dl-accordion  {
  @include accordion-container();

  .dl-accordion-navigation  {
    @include accordion-navigation();
  }

  .dl-accordion-navigation-content  {
    @include accordion-content();
  }
}
