---
layout: default
format: blog-index
---
<section id="header-home">
  <div class="row t30">
    <div class="small-12 columns">
      <nav class="right">
        {% if page.is_default_language %}
        <a class="button tiny" rel="alternate" href="/en" hreflang="en" lang="en">English</a>
        {% else %}
        <a class="button tiny" rel="alternate" href="/de" hreflang="de" lang="de">Deutsch</a>
        {% endif %}
      </nav>
      <article>
        <header>
          {% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
          <h1>{{ page.title }}</h1>
        </header>

        {% if page.teaser %}
        <p class="teaser">
          {{ page.teaser }}
        </p>
        {% endif %}
      </article>

      {% if page.image %}
      <img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title escape_once }}">
      {% endif %}
      {% if page.image.caption_url && page.image.caption %}
      <p class="text-right caption">
        <a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
      </p>
      {% endif %}
    </div>
  </div>

  {% include betterplace.html %}

  {% comment %}
  *
  * If there is content, spit it out.
  *
  {% endcomment %}

  <div class="row t30">
    <div class="small-12 columns">
      {{ content }}
    </div>
  </div><!-- /.row -->


  {% comment %}
  *
  * If there is a video, display it.
  *
  {% endcomment %}

  <!-- {% if page.iframe1 %}
  <div class="row t30">
    <div class="medium-12 columns">
      <article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
        <div class="flex-video widescreen vimeo">
          {{ page.iframe1}}
        </div>
      </article>
    </div>
  </div>
  {% endif %} -->


{% comment %}
*
* Embed the video, hardcoded for now
*
{% endcomment %}
{% if page.video2 %}
<div class="row t30">
  <div class="medium-12 columns">

    <article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
      <h2 class="video-title" id="refugees-emancipation-chaos-communication-camp-2015">{{ page.video2.title }}</h2>
      <div id="camp2015" class="flex-video widescreen vimeo">
        test
      </div>
      <script type="text/javascript">
        var playerInstance = jwplayer("camp2015");
        playerInstance.setup({
          file: "http://ftp.fau.de/cdn.media.ccc.de/events/camp2015/h264-hd/cccamp15-7041-en-Refugees_Emancipation_hd.mp4",
          image: "//static.media.ccc.de/media/conferences/camp2015/7041-hd_preview.jpg",
          width: "100%",
          autostart: false,
          sharing: {},
          aspectratio: "16:9",
          title: '{{ page.video2.title }}',
          description: ''
        });
      </script>
    </article>
  </div>
</div>
{% endif %}

{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}

{% comment %}
*
* MailChimp
*
{% endcomment %}

{% include mailchimp.html %}

{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <!-- <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title escape_once }}"></a>
            </p>

            {% if post.image.caption_url && post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries[page.language] }}</h2>
            {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title escape_once }}"><strong>{{ site.data.language.read_more[page.language] }}</strong></a>
            </p>
            {% endfor %}
        </div>


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles[page.language] }}</strong></p>
            {% include list-posts.html entries='3' offset='1' %}
        </div>
    </div>-->
{% endunless %}

<!-- <div class="row t30">
	<div class="medium-12 columns">
    <article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
			<div class="flex-video">
				{{ page.iframe}}
			</div>
    </article>
	</div>
</div> -->
</section>
