---
layout: default
format: blog-index
---
<section id="header-home">
  <div class="row t30">
    <div class="small-12 columns">
      <article>
        <header>
          {% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
          <h1>{{ page.title }}</h1>
        </header>

        {% if page.teaser %}
        <p class="teaser">
          {{ page.teaser }}
        </p>
        {% endif %}
      </article>

      {% if page.iframe1 %}
      <div class="row t30">
        <div class="medium-12 columns">
          <article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
            <div class="flex-video">
              {{ page.iframe1}}
            </div>
          </article>
        </div>
      </div>
      {% endif %}


      {% if page.image %}
      <img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title escape_once }}">
      {% endif %}
      {% if page.image.caption_url && page.image.caption %}
      <p class="text-right caption">
        <a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
      </p>
      {% endif %}
    </div>
  </div>


  <section>
    <div class="row t30">
      <div class="small-12 columns counter">
        <h2>Start der Spendenkampagne in</h2>
        <p id="countdown"></p>
      </div>
    </div>
  </section>


  {% comment %}
  *
  * If there is content, spit it out.
  *
  {% endcomment %}

  <div class="row t30">
    <div class="small-12 columns">
      {{ content }}
    </div>
  </div><!-- /.row -->


<script>
countdown.resetLabels();
countdown.setLabels(
	' Millisekunde| Sekunde| Minute| Stunde| Tag| Woche| Monat| Jahr| Jahrzehnt| Jahrhundert| Jahrtausend',
	' Millisekunden| Sekunden| Minuten| Stunden| Tage| Wochen| Monate| Jahre| Jahrzehnte| Jahrhunderte| Jahrtausende',
	' und ',
	' , ',
	'jetzt');

var timerId =
  countdown(
    new Date(2015, 9, 01),
    function(ts) {
      if (ts >= 0) {
        console.log("ende");
        window.clearInterval(timerId);
      }
      document.getElementById('countdown').innerHTML = ts.toString();
    },
    countdown.MONTHS |
    countdown.WEEKS |
    countdown.DAYS |
    countdown.HOURS |
    countdown.MINUTES |
    countdown.SECONDS,
    3
  );
</script>

{% comment %}
*
* Embed the video, if it's there
*
{% endcomment %}

{% if page.iframe2 %}
<div class="row t30">
  <div class="medium-12 columns">
    <article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
      <div class="flex-video">
        {{ page.iframe2 }}
      </div>
    </article>
  </div>
</div>
{% endif %}


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}


<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup" class="row t30">
  <div class="medium-12 columns">
    <form action="//refugeesemancipation.us11.list-manage.com/subscribe/post?u=d10ae13c261739daad4ceb3b0&amp;id=b8fdd26a7a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <h2>Melde dich für den Newsletter an</h2>
        <p>Bleib informiert über das Refugees Emancipation Support Project.<br></p>
        <div class="mc-field-group">
        	<label for="mce-EMAIL">Email Addresse  <span class="asterisk">*</span></label>
        	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-Mail Adresse">
        </div>
      	<div id="mce-responses" class="clear">
      		<div class="response" id="mce-error-response" style="display:none"></div>
      		<div class="response" id="mce-success-response" style="display:none"></div>
      	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_d10ae13c261739daad4ceb3b0_b8fdd26a7a" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="Anmelden" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
    </form>
  </div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <!-- <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title escape_once }}"></a>
            </p>

            {% if post.image.caption_url && post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div>


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts.html entries='3' offset='1' %}
        </div>
    </div>-->
{% endunless %}

<!-- <div class="row t30">
	<div class="medium-12 columns">
    <article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
			<div class="flex-video">
				{{ page.iframe}}
			</div>
    </article>
	</div>
</div> -->
</section>
